# --- JAVA / MAVEN ---
*.class
*.log
target/
target/*
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# --- SPRING BOOT / SECRETS ---
.mvn/
mvnw
mvnw.cmd
HELP.md
# Lokale Konfigurationen mit Passwörtern ignorieren
src/main/resources/application-local.properties
.env

# --- IDEs ---
# VS Code
.vscode/
.factorypath
.history/

# IntelliJ
.idea/

*.iws
*.iml
*.ipr
out/

# --- OS ---
.DS_Store
Thumbs.db
desktop.ini

# --- OTHERS ---
*.ctxt
.mtj.tmp/
.vscode/settings.json
target/classes/application.properties
.env